<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
</head>
<body>
    <h1><%= category %>商品一覧</h1>
    <ul>
        <% for (const product of products) { %>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% } %>
    </ul>
    <a href="/products/new">新規作成</a>
    <% if (category !== '全') { %>
        <a href="/products">全商品一覧へ</a>
    <% } %>
</body>
</html>