<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Demo
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- bootstrap.min.jsがjqueryを使用するので、それより前に記述する必要がある -->
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>