<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コメント一覧</title>
</head>
<body>
    <h1>コメント一覧</h1>
    <ul>
        <% for (const c of comments) { %>
            <li>
                <%= c.comment %> - <b><%= c.username %></b>
                <a href="/comments/<%= c.id %>">詳細</a>
            </li>    
        <% } %>
    </ul>
    <a href="/comments/new">新規コメント作成</a>
</body>
</html>