<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page<%= ' hello world'.toUpperCase() %></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro praesentium placeat assumenda repellendus eius perferendis exercitationem, totam saepe aliquid voluptatem impedit labore earum expedita? Ipsa incidunt perferendis a vel voluptas.
        Dolores expedita officiis minima ab ut ad beatae tenetur rem, placeat accusantium quibusdam veritatis laborum consequuntur nam similique ex ipsum, quos adipisci doloremque facilis incidunt reiciendis deserunt cum! Sequi, nostrum.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi error quae voluptate quasi minima ab sed, laboriosam, provident ut, veritatis dolore? Eum itaque sapiente dolorem accusantium minima quae necessitatibus tempora.
    </p>
</body>
</html>